*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #fff;
    font-size: 1.1rem;
}

#menu{
    background: blue;
}

#logotopo{
    background: green;
    width: 150px;
    
}
.horariofunc{ 
    background: #999;
    width: 150px;
    
}

#corposite{
    max-width: 400px;
    margin: 0 auto;
    background: green;
}

#principal{
}

.container{
}

.box{
    background: red;
    margin: 5px;
    flex: 1;
}

.box h1{
    background: #555;
}

.box img{
    display: block;
    max-width: 100%;
    height: auto;
    margin: 0 auto;
}

footer{
    background: #333;
    
}
