/****RESET BÁSICO****/
*{margin:0;padding:0;box-sizing:border-box;font-family:Verdana,Arial,Helvetica,sans-serif;border:none;outline:none;font-weight:300;font-size: 16px;}
/****DEFININDO VARIAVEIS GLOBAIS****/
:root {
    --main-bg-color: #6a81f5;
    --second-bg-color: #3655f2;
    --third-bg-color: #0c29b8;
    --fourth-bg-color: #061356;
    --fifth-bg-color: #070c26;
    --alternative1-bg-color: #000080;
    /*--alternative2-bg-color: #000080;*/
    --bg-dark:#e6e6e6;
    --bg-light: #f2f2f2;
    
  }
/****GLOBAL****/
body{background:var(--main-bg-color);color: #fff;}
img{max-width: 100%;display: block;margin: auto;}
h1,h2,h3,h4,h5,h6 {font-family: "Arial Black", sans-serif;}
a{text-decoration: none;color:#000;}
address{font-style: normal !important;}

/****CLASSES AUXILIARES****/
/*CONTAINER centraliza e define tamanho do width em %*/
.container{width:95%;margin: 0 auto;overflow: hidden;}

/*BOX utilizado para estilizar algumas partes do site*/
.box{background:var(--bg-dark);color: #000;padding: 1%;margin-bottom: 1%;}

.box h1{
    background: var(--fourth-bg-color);
    padding: 1%;
    color: #fff;
    letter-spacing: 2px;
    font-size: 1.316em;
    text-shadow: 2px 2px 2px #000;
    text-align: center;    
    border-radius: 5px;
    border:1px solid #fff;
}

.box p{
    font-weight: 400;
    text-indent: 2em;
    text-align: justify;
    line-height: 1.6em;
    padding: 5px;
    margin: 5px;
    word-break: break-word;
    word-spacing:  .1em;
}
.box img{
    margin: 1% auto;
}
.box address{
    display: inline;
}

#topositeint{
    display:flex;
    justify-content: space-between;
    margin-bottom: 1%;
    background:var(--alternative1-bg-color);
} 
    #topologo {
        width: 116px;
        height: 116px;
        padding: 10px;
    }
    #topocontato{
        display:flex;
        flex-direction: column;
        justify-content: space-evenly;
        flex:1;
        text-align: center;
    }

    #topocontato p{
        font-size: 1.5rem;
        text-shadow: 2px 2px #222;
    }

/*NAV */
#menu{margin-bottom: 1%;background: #261da3;}
.menu {display:flex;align-items:center;justify-content: space-between;}
nav ul,nav li {list-style: none;margin:0;padding:0;}
nav ul{display:flex;}
nav a{display:block;padding:15px;text-decoration:none;text-transform:uppercase;color:#fff;cursor: pointer;transition: all 1s linear;}
nav .active a,nav a:hover{background-color:#39aae1;color:#FFFFFF;}
.menuMobile{display:none;width:60px;height:60px;color: #fff;border: 1px solid #fff;border-radius: 10px;justify-content: center;cursor: pointer;}
.menuMobile-container{display: flex;flex-direction: column;align-items: center;}
.mm_line{height:3px;background-color:#fff;width: 80%;margin: 2px;}

/*MENU REDES SOCIAIS*/
/*FONTAWESOME*/
/*.fa{
    display:inline-block;
}*/
#redessociais img{display:inline-block; width: 50px;height:50px;}
#redessociais img:hover{
transform:	scale(1.2)	rotate(-5deg);}

.fab{
    cursor: pointer;
    width: 35px;
    height: 35px;
    line-height: 35px; 
    border-radius: 50%;
    margin: 3px;
    text-align: center;
    font-size: 1.3rem ;
   }

.fa-facebook-f{
background:#385998;
transition: all .5s linear;
}
.fa-facebook-f:hover{
    background:#fff;
    color:#385998;
    transform:	scale(1.2)	rotate(-5deg);

}
.fa-youtube{
    background: red;
    color:#fff;
    transition: all .51s linear;
}
.fa-youtube:hover{
    background: #fff;    
    color:#bb0000;
    transform:	scale(1.2)	rotate(-5deg);

}
.fa-instagram{
background: #bc2a8d;
transition: all .51s linear;
}
.fa-instagram:hover{
    background: #fff;
    color:#bc2a8d;
    transform:	scale(1.2)	rotate(-5deg);

    }

/*BANNERSITE*/
#bannersite{
    margin-bottom: 1%;
}

#bannersiteint{border: 1px solid #fff;height: 30vh;}

/****SLIDE SHOW****/

/****CORPOSITE****/
#corposite{
}
/**INDEX**/
#i-sobretti{background: var(--second-bg-color);}
#i-produtos{background: var(--third-bg-color);}
#i-servicos{background: var(--fourth-bg-color);}

#i-sobretti, #i-produtos, #i-servicos{
    padding:2%;
}

/**QUEM SOMOS**/
#quemsomoscont{
    padding: 1%;
    text-align: center;
}
.quemsomos{
    background: var(--bg-light);
    margin: 1%;
    padding: 1%;
}
.quemsomos a{
    display: block;
}


/*RODAPESITE*/
#rodapesite{
    background-color:var(--fifth-bg-color);
    color: lightgray;
    text-shadow: 2px 2px #000;
    text-align: center;
    padding: 5px;
    line-height: 1.6em;
    letter-spacing: 1px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top:1%;
}
    #rodapesite a{text-decoration: none;color: lightgray;font-size: .9em;text-shadow: 2px 2px #000;padding: 5px;}
    #rodapeitens h1{
        color: white;
        border-top: 3px dashed #3b5998;
        font-size: 1em;
    }
    .rodapeendereco,.rodapecontato,.rodapeatendimento{
        padding: 5px;
        flex:1;
    }
    #rodapesite p{font-size: .9em;}

    #copyright{
    border-top: 1px solid #ccc;
    font-size: .8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    }

#doautor{
    font-size: .7em;
}   
#doautor i{
    font-size: .7em;
}    


/*FORMULÀRIO*/
#formulario{
    margin-bottom:1%;
}
#myForm{
    background:#ccc;
    color: #333;
    padding:1em;
}
#myForm .form-group{
    padding-bottom:.5em;
}
#myForm label{
    display:block;
    margin:1%;
}
#myForm input[type="text"], #myForm input[type="email"], #myForm textarea{
    padding:.5em;
    width: 100%;
    border-radius: 5px;
}
#myForm input[type="submit"]{
    background: #333;
    color:#fff;
    border:none;
    padding:.5em .7em; 
}

/*MEDIAS*/
/*MEDIA MOBILE*/
@media only screen and (max-width: 576px) {
 
}

@media(max-width:767px){
    nav ul {
		flex-direction: column;
		display:none;
		position: absolute;
	    left: 0;
	    width: 100%;
        background-color: #2b4c99;
        opacity: .9;
	}

	header {
		height:auto;
	}

	.menuMobile {
		display:flex !important;
		flex-direction: column;
		justify-content:space-around;
	}
}

/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) { 
    .container{
        width: 90%;
    }
}

/*MEDIA TABLETS*/ 
/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) { 
    #rodapeitens{
        display: flex;
    }
    nav ul {
        display: flex !important;
    }

    .rodapeatendimento,.rodapeendereco{
        border-right: 3px dashed #3b5998;
    }
    #rodapeitens h1{
        border-top:none;

    }

    #quemsomoscont{
        display: flex;
        justify-content: center;
    }
}
/*MEDIA HD*/
/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) { 
    /*.container{
        width: 992px;
    }*/
}

/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) { 
    .container{
        width: 85%;
    }
 }