*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
body{
    background-image:linear-gradient(260deg, #2376ae 0%, #0e0872 100%);
    font-size: 1.1rem;
    font-family: 'Roboto', sans-serif;
    color: #fff;
    line-height: 1.5;
   
}
img{
    max-width: 100%;
    display: block;
    margin: auto;
}

h1,h2,h3,h4,h5,h6 {
    font-family: 'Verdana', sans-serif; 
}
#topo{
    display: flex;
}

#logotopo {
    width: 116px;
    height: 116px;
}

#paineltop{ 
    background: #999;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex:1;
}
#painelmenu{
    list-style: none;
    background: #555;
}
#menu{
    display: flex;
    position: sticky;
    top:0;
}

.bars{
    width:60px;
    height:60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
.bar{
    width: 80%;
    height: 3px;
    background: #fff;
}

#bars-lateral{
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    border: 1px solid red;
    flex:1;     
}

#bars-lateral div{
    border: 1px solid #fff;
}

#menu-list{
    border: 1px solid red;
}

#menu-list li{
    color: #fff;
    line-height: 2rem;
}

/*CORPO SITE*/
#corposite{
    max-width: 576px;
    margin: 0 auto;
}

#principal{
}

.container{
    line-height: 1.6;
    text-align: justify;
    text-justify: inter-word;
    color: #fff;
    font-size: 1.1rem;
}

.box{
    background: red;
    margin: 5px;
    flex: 1;
}

.box h1{
    background: #555;
}

.box img{
    display: block;
    max-width: 100%;
    height: auto;
    margin: 0 auto;
}
/*RODAPE SITE*/
footer{
    background: #333;
}

/* Extra small devices (portrait phones, less than 576px)
 No media query since this is the default in Bootstrap*/

/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) { 

}

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {  
    .bars{
        display: none;
    }
}
/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) { 

}

/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) { 

 }